<div class="page">
	<div>
		<div class='pull-left'>
			<img src="${it.webroot}/static/brand/logo_small.png"/>
		</div>
		<div class='pull-right'>
			<div class="about">
				<div>Manager: ${it.project?.manager?.firstname} ${it.project?.manager?.lastname}</div>
				<div>Date: ${it.today}</div>
			</div>
		</div>
	</div>
	<div class="clearfix"/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<h1>${it.project.label}</h1>
	<br/>
	<h1>Template Pack</h1>
	<br/>
	<br/>
	<center>
		<div class="">
			<h2>Table of Contents</h2>
			<br/>
			<%
			it.toc.each { toc ->
			println "<div><a href='#toc_${toc.id}'>${toc.label}</a></div>"
			}
			%>
		</div>

	</center>

</div>
