<div>
	Dear ${it.firstname},

	<p>Thank you for signing up to use <b>Meta4Beta</b> to build your Executable JSON Wireframe.</p>

	<p>Your account is setup and ready to use. Only one small step remains ...</p>

	<p>Please click <a href="${http.webroot}/public/api/auth/register?confirm=${it.confirm}">here</a> and you'll be automatically logged in to Meta4Beta.</p>

	<p>If you've got any questions, suggestions or problems - please contact support@meta4beta.com</p>

	<p>Kind Regards,</p>

	<p><i>Lee Curtis</i></p>
	<p>Co-Founder
	<br/>support@meta4beta.com</p>
</div>
<div>
	<a href="http://todo.com/"><img src='http://todo.com/lib/images/long_logo.png'/></a>
</div>