<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta name="title" content="Meta4Beta Template" />
	<meta name="author" content="Meta4Beta" />
	<meta name="subject" content="Meta4Beta PDF Template" />
	<style>
		body {
		font-family: Sans-Serif;
		}
		.pull-left {
		float: left;
		}
		.pull-right {
		float: right;
		}
		h1 {
		padding: 0px;
		margin: 0px;
		border-bottom: 1px solid;
		margin-bottom: 4px;
		}
		.status {
		font-size: 0.8em;
		}
		.status label {
		font-weight: bold;
		}
		.status span {
		float: right;
		}
		.body {
		clear: both;
		}
		@page {
		@bottom-right {
		content: "page " counter(page) " of " counter(pages);
		}
		}
		.page {
		page-break-after:always;
		}

	</style>
</head>
<body>
<div>
	<div class="heading">
		<div class='pull-left'>
			<img src="${http.webroot}/icons/logo-small.png"/>
		</div>
		<div class='pull-right status'>
			<h1>${it.label}</h1>
			<div class='status'>
				<div><label>Project Name:</label><span>Software Development</span></div>
				<div><label>Project Manager:</label><span>Lee Curtis</span></div>
				<div><label>Revision Date:</label><span>31st January 2015</span></div>
			</div>
		</div>
	</div>
	<div class='body'>
		${it.page}
	</div>
</div>

</body>
</html>